<img src="https://itproger.com/img/courses/1476977240.jpg" alt="" />
>HTML (HyperText Markup Language — «язык гипертекстовой разметки») — самый
базовый строительный блок Веба. Он определяет содержание и структуру
веб-контента.
<img src="https://itproger.com/img/courses/1476977488.jpg" alt="" />
>CSS (Cascading Style Sheets) — это код, который вы используете для стилизации
вашей веб-страницы.
<img
  src="https://getbootstrap.ru/docs/4.5/assets/brand/bootstrap-social.png"
  alt=""
/>
>Bootstrap — свободный набор инструментов для создания сайтов и веб-приложений.
Включает в себя HTML- и CSS-шаблоны оформления для типографики, веб-форм,
кнопок, меток, блоков навигации и прочих компонентов веб-интерфейса, включая
JavaScript-расширения.
<img
  src="https://miro.medium.com/max/1920/1*fSp3LOg8N8YN-eiIOFJ9pA.jpeg"
  alt=""
/>
>JavaScript – это язык программирования, который добавляет интерактивность на
ваш веб-сайт (например: игры, отклик при нажатии кнопок или при вводе данных в
формы, динамические стили, анимация). Эта статья поможет вам начать работать с
этим захватывающим языком и даст вам представление о том, на что он способен.
<img
  src="https://habrastorage.org/files/c51/541/e1f/c51541e1f1194eccbfc707fe43464d7a.jpg"
  alt=""
/>
>Native script (NS) – это библиотека, позволяющая делать кросс-платформенные
приложения, используя XML, CSS, JavaScript. Native script решает ту же задачу,
что и уже всем известный phonegap (создание кросс-платформенных приложений), но
подходы у них разные. Phonegap использует движок браузера, чтобы отобразить ваш
UI (фактически вы получаете веб-страницу), Native script использует нативный
рендеринг, использует элементы нативного UI. Следующее важное отличие: чтобы
получить доступ к камере, gps и так далее в phonegap необходимо устанавливать
плагины, в то время как NS дает доступ из коробки.
<img src="https://itchief.ru/assets/images/javascript/dom/1.png" alt="" />
>DOM-дерево Основой HTML-документа являются теги. В соответствии с объектной
моделью документа («Document Object Model», коротко DOM), каждый HTML-тег
является объектом. Вложенные теги являются «детьми» родительского элемента.
Текст, который находится внутри тега, также является объектом.
<img
  src="https://miro.medium.com/max/3260/1*CeuWv9fCjD1uTiTuKytnBQ.png"
  alt=""
/>
>React (иногда React.js или ReactJS) — JavaScript-библиотека[4] с открытым
исходным кодом для разработки пользовательских интерфейсов. React
разрабатывается и поддерживается Facebook, Instagram и сообществом отдельных
разработчиков и корпораций[5][6][7]React может использоваться для разработки
одностраничных и мобильных приложений. Его цель — предоставить высокую скорость,
простоту и масштабируемость. В качестве библиотеки для разработки
пользовательских интерфейсов React часто используется с другими библиотеками,
такими как MobX, Redux и GraphQL[8].
<img
  src="https://miro.medium.com/max/3000/1*-Ijet6kVJqGgul6adezDLQ.png"
  alt=""
/>
>Хуки — нововведение в React 16.8, которое позволяет использовать состояние и
другие возможности React без написания классов.
<img
  src="https://habrastorage.org/files/a33/fac/434/a33fac4347e54ed280e4a1e8460289f5.png"
  alt=""
/>
>jQuery — набор функций JavaScript, фокусирующийся на взаимодействии JavaScript
и HTML. Библиотека jQuery помогает легко получать доступ к любому элементу DOM,
обращаться к атрибутам и содержимому элементов DOM, манипулировать ими. Также
библиотека jQuery предоставляет удобный API для работы с AJAX.
